@import url("index.css");
@import url("sale_1.css");

@media(max-width: 320px){
  span.select2.select2-container.select2-container--default{
     margin-left: 104.5rem;
  } 
  .panel.large,.panel.small{
     margin-left: 2rem;
  }
  input#textInput_1{
    margin-left: 4.5rem;
  }
  input#submit {
    margin-left: 36%;
    font-size: 12px;
  }
  .container.contact.animated.fadeIn {
     width: 104%;
  }

}
@media(max-width: 360px) and (min-width: 330px){
  span.select2.select2-container.select2-container--default{
     margin-left: 103.5rem;
  } 
  .panel.large{
     margin-top: 2rem;
     margin-left: 2rem;
  }
  .panel.small{
     margin-left: 2rem;
  }
  input#submit{
    margin-left: 13rem;
    font-size: 12px;
  }
  input#textInput_1{
     margin-left: 5.5rem;
     width: 70%;
  }
   .container.contact.animated.fadeIn {
     width: 104%;
  }
}
@media(max-width: 375px) and (min-width: 370px){
  span.select2.select2-container.select2-container--default{
     margin-left: 104.5rem;
  } 
  .panel.large,.panel.small{
     margin-left: 2rem;
  }
  input#submit{
    margin-left: 39%;
  }
  input#textInput_1{
     margin-left: 5.5rem;
  }
   .container.contact.animated.fadeIn {
     width: 104%;
  }

}
@media(max-width: 399px) and (min-width: 380px){
    span.select2.select2-container.select2-container--default{
    margin-left: 6.5rem;
   } 
   .panel.large,.panel.small{
     margin-left: 2rem;
   }
   input#textInput_1 {
    margin-left: 15%;
    width: 70%;
    border: 1px solid lightgrey;
   }
   input#submit {
    margin-left: 38%;
    margin-bottom: 4rem;
   }
    .container.contact.animated.fadeIn {
     width: 104.5%;
  }
}
@media(max-width: 414px) and (min-width: 400px){
  span.select2.select2-container.select2-container--default{
     margin-left: 104.5rem;
  } 
  .panel.large,.panel.small{
     margin-left: 2rem;
  }
  input#submit{
    margin-left: 39%;
  }
  input#textInput_1{
     margin-left: 6rem;
  }
   .container.contact.animated.fadeIn {
     width: 104%;
  }

}
@media(max-width: 425px) and (min-width: 420px){
  span.select2.select2-container.select2-container--default{
     margin-left: 104.5rem;
  } 
  .panel.large,.panel.small{
     margin-left: 2rem;
  }
  input#submit{
    margin-left: 39%;
  }
  input#textInput_1{
     margin-left: 6rem;
  }
   .container.contact.animated.fadeIn {
     width: 104%;
  }

}
@media(max-width: 499px) and (min-width: 450px){
  span.select2.select2-container.select2-container--default{
    margin-left: 11.5rem;
  } 

  input#submit{
    margin-left: 40%;
    margin-bottom: 4rem;
    font-size: 12px;
  }
  input#textInput_1{
     width: 70%;
     margin-left: 7rem;
     margin-top: 7rem;
  }
  .panel.large{
     margin-top: 2rem;
     margin-left: 2rem;
  }
  .panel.small{
    margin-left: 2rem;
  }
  .container.contact.animated.fadeIn {
     width: 103%;
  }
}
@media(max-width: 599px) and (min-width: 500px){
  
   span.select2.select2-container.select2-container--default{
    margin-left: 12rem;
   } 
   .panel.large{
     margin-top: 2rem;
     margin-left: 2rem;
  }
  .panel.small{
    margin-left: 2rem;
  }
   input#textInput_1 {
    margin-left: 10.5rem;
    width: 60%;
   }
   input#submit {
    margin-left: 40%;
   }
   .container.contact.animated.fadeIn {
     width: 103%;
  }
}
@media(max-width: 699px) and (min-width: 600px){
  
    span.select2.select2-container.select2-container--default{
    margin-left: 18.5rem;
   } 
    .container.contact.animated.fadeIn {
     width: 102.5%;
  }
   .panel.large{
     margin-left: 2rem;
     margin-top: 2rem;
   }
   .panel.small{
      margin-left: 2rem;
   }
   input#textInput_1 {
    margin-left: 14.5rem;
    width: 55%;
   }
   input#submit {
    margin-left: 44%;
   }
}
@media(max-width: 768px) and (min-width: 700px){

  span.select2.select2-container.select2-container--default{
     margin-left: 78rem;
  } 
  .panel.large,.panel.small{
     margin-left: 2rem;
  }
  input#submit{
    margin-left: 44%;
  }
  input#textInput_1{
    margin-left: 19rem;
    width: 50%;
    margin-top: 7rem;
  }
   .container.contact.animated.fadeIn {
     width: 101%;
  }

}
@media(max-width: 900px) and (min-width: 800px){
  
  span.select2.select2-container.select2-container--default{
    margin-left: 25rem;
   } 
   .panel.large{
     margin-top: 2rem;
   }
   input#submit{
     margin-left: 32rem;
   }
    input#textInput_1{
      width: 40%;
      margin-left: 22rem;
  }
}
@media(max-width: 1024px) and (min-width: 1000px){
  span.select2.select2-container.select2-container--default{
     margin-left: 41rem;
  } 
  input#textInput_1{
     margin-top: 4rem;
  }
  .panel.large{
    margin-top: -3rem;
  }

}
@media(max-width: 1440px) and (min-width: 1400px){
  
  span.select2.select2-container.select2-container--default{
    margin-left: 4rem;
   } 
   .panel.large{
     margin-top: -3rem;
   }
   input#submit{
     margin-left: 24rem;
   }
    input#textInput_1{
      width: 50%;
      margin-left: 14rem;
  }
}

