@import url("index.css");
@import url("sale_1.css");

@media(max-width: 320px){
  span.select2.select2-container.select2-container--default{
     margin-left: 104.5rem;
  } 
  .panel.large,.panel.small{
     margin-left: 2rem;
  }
  .container.contact.animated.fadeIn {
     width: 104%;
  }

}
@media(max-width: 375px) and (min-width: 330px){
  span.select2.select2-container.select2-container--default{
     margin-left: 104.5rem;
  } 
  .panel.large,.panel.small{
     margin-left: 2rem;
  }
  input#submit{
    margin-left: 39%;
  }
  input#textInput_1{
     margin-left: 5.5rem;
  }
   .container.contact.animated.fadeIn {
     width: 104%;
  }

}
@media(max-width: 425px) and (min-width: 420px){
  span.select2.select2-container.select2-container--default{
     margin-left: 104.5rem;
  } 
  .panel.large,.panel.small{
     margin-left: 2rem;
  }
  input#submit{
    margin-left: 39%;
  }
  input#textInput_1{
     margin-left: 5.5rem;
  }
   .container.contact.animated.fadeIn {
     width: 104%;
  }

}
@media(max-width: 414px) and (min-width: 400px){
  span.select2.select2-container.select2-container--default{
     margin-left: 104.5rem;
  } 
  .panel.large,.panel.small{
     margin-left: 2rem;
  }
  input#submit{
    margin-left: 39%;
  }
  input#textInput_1{
     margin-left: 5.5rem;
  }
   .container.contact.animated.fadeIn {
     width: 104%;
  }

}

@media(max-width: 768px) and (min-width: 700px){

  span.select2.select2-container.select2-container--default{
     margin-left: 78rem;
  } 
  .panel.large,.panel.small{
     margin-left: 2rem;
  }
  input#submit{
    margin-left: 45%;
  }
  input#textInput_1{
     margin-left: 24rem;
  }
   .container.contact.animated.fadeIn {
     width: 101%;
  }

}
@media(max-width: 1024px) and (min-width: 1000px){
  input#textInput_1{
     margin-top: 4rem;
  }

}
@media(max-width: 499px) and (min-width: 450px){
  span.select2.select2-container.select2-container--default{
    margin-left: 11rem;
  } 

  input#submit{
    margin-left: 40%;
    margin-bottom: 4rem;
    font-size: 10px;
  }
  input#textInput_1{
     width: 70%;
     margin-left: 6rem;
     margin-top: 7rem;
  }
  .panel.large{
     margin-top: 2rem;
     margin-left: 2rem;
  }
  .panel.small{
    margin-left: 2rem;
  }
  .container.contact.animated.fadeIn {
     width: 103%;
  }
}
@media(max-width: 399px) and (min-width: 380px){
    span.select2.select2-container.select2-container--default{
    margin-left: 6.5rem;
   } 
   .panel.large,.panel.small{
     margin-left: 2rem;
   }
   input#textInput_1 {
    margin-left: 21%;
    width: 60%;
    border: 1px solid lightgrey;
   }
   input#submit {
    margin-left: 36%;
    margin-bottom: 4rem;
   }
    .container.contact.animated.fadeIn {
     width: 104.5%;
  }
}
@media(max-width: 599px) and (min-width: 500px){
  
   span.select2.select2-container.select2-container--default{
    margin-left: 12.5rem;
   } 
   .panel.large{
     margin-top: 2rem;
  }
}
@media(max-width: 699px) and (min-width: 600px){
  
    span.select2.select2-container.select2-container--default{
    margin-left: 18rem;
   } 
    .container.contact.animated.fadeIn {
     width: 102.5%;
  }
   .panel.large{
     margin-left: 2rem;
     margin-top: 2rem;
   }
   .panel.small{
      margin-left: 2rem;
   }
}
@media(max-width: 999px) and (min-width: 800px){
  
  span.select2.select2-container.select2-container--default{
    margin-left: 24.5rem;
   } 
   .panel.large{
     margin-top: 2rem;
   }
   input#submit{
     margin-left: 32rem;
   }
}

